---
import Tarjeta from "../Servicios/Tarjeta.astro";
const team = [
  {
    imagenSrc: "/Brian.png",
    title: "Brian Marquez",
    descripcion:
      "Backend web developer, creator of architectures, custom services, and competent maintenance.",
  },
  {
    imagenSrc: "Dany.png",
    title: "Daniel Ojeda",
    descripcion:
      "Frontend web developer, creator of interactive, attractive, and modern web pages.",
  },
];
---

<section class="pt-8 md:py-12" id="aboutus">
  <div class="container mx-auto px-4 md:pt-6">
    <div class="text-center md:flex md:items-center md:justify-center">
      <img
        src="/grupo.png"
        alt=""
        class="w-10 h-auto mb-2 md:mb-0 mx-auto md:mx-0 md:mr-2"
      />
      <h2 class="text-2xl md:text-4xl font-semibold text-gray-800">About Us</h2>
    </div>
    <p
      class="mt-2 md:mt-4 text-gray-800 text-lg md:text-center text-center"
      id="aboutus-text"
    >
      We are a team of experts passionate about creating stunning and functional
      websites that drive your online business success. Our expertise and
      knowledge in web design, front-end and back-end development, as well as
      usability and user experience, allow us to deliver exceptional results. We
      stay updated with the latest trends and technologies in the digital world,
      enabling us to create modern, intuitive, and device-optimized websites.
    </p>
    <!-- <div class="flex flex-col sm:flex-row">
      {
        team.map((person) => (
          <Tarjeta
            titulo={person.title}
            descripcion={person.descripcion}
            imagenSrc={person.imagenSrc}
          />
        ))
      }
    </div> -->
  </div>
</section>
