---
const webDevelopmentServices = [
  {
    title: "Frontend Web Design and Development",
    subitems: ["Interface Design (UI/UX)", "Responsive Development"],
    cover: "/front1.png",
  },
  {
    title: "Visual Effects and Performance",
    subitems: ["Animations and Visual Effects", "Performance Optimization"],
    cover: "/visual1.png",
  },
  {
    title: "Maintenance and Updates",
    subitems: [
      "Continuous Services",
      "Interactive Web Application Development",
    ],
    cover: "/mantein1.png",
  },
  {
    title: "SEO Optimization for Improved Visibility",
    subitems: [
      "Improving website load speed to meet search engine performance requirements.",
      "Continuous SEO performance monitoring and adjustments based on search algorithm trends and changes.",
    ],
    cover: "/ceo1.png",
  },
  {
    title: "Custom Application Development",
    subitems: [
      "We develop custom web applications tailored to your needs.",
      "We add special features and databases to make them work as you desire.",
    ],
    cover: "/custom1.png",
  },
  {
    title: "Efficient Database Management",
    subitems: [
      "We choose the right database to store and manage your information.",
      "We design database systems that are efficient and can grow with you.",
    ],
    cover: "/db1.png",
  },
  {
    title: "Secure Hosting",
    subitems: [
      "We configure web servers and cloud hosting for fast and secure applications.",
      "We take measures to protect your data against online threats.",
    ],
    cover: "/security1.png",
  },
  {
    title: "Integration and User-Friendly Experience",
    subitems: [
      "We create interfaces for your application to communicate with other applications and services.",
      "We ensure everything runs smoothly and is easy to use for you and your users.",
    ],
    cover: "/integrate1.png",
  },
];
---

<section id="servicios">
  <div class="container mx-auto py-8">
    <div class="text-center md:flex md:items-center md:justify-center">
      <img
        src="/services1.png"
        alt=""
        class="w-10 h-auto mb-2 md:mb-0 mx-auto md:mx-0 md:mr-2"
      />
      <h2 class="text-2xl md:text-4xl font-semibold text-gray-800">
        Our Services
      </h2>
    </div>
    <div class="sm:flex flex-wrap">
      {
        webDevelopmentServices.map((service) => (
          <div class="w-full sm:w-1/4 shadow-md px-4 py-3 mt-4 mb-4">
            <div class="bg-white h-full shadow-md rounded-lg overflow-hidden">
              <img
                src={service.cover}
                alt="Image Description"
                class="w-10 h-10 sm:w-full sm:h-auto mx-auto"
              />

              <div class="p-4 items-center justify-center flex flex-col">
                <h2 class="text-xl font-semibold text-gray-800 text-start">
                  {service.title}
                </h2>
                <ul class="mt-2 text-sm text-gray-600">
                  {service.subitems.map((subitem) => (
                    <li>
                      <span class="mr-2">•</span> {subitem}
                    </li>
                  ))}
                </ul>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
