---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar/Navbar.astro";
import Header from "../components/Header.astro";
import Servicios from "../components/Servicios/Servicios.astro";
import Contacto from "../components/Contacto.astro";
import Footer from "../components/Footer.astro";
import AboutUs from "../components/AboutUs.astro";
---

<Layout title="Logical Capacity">
  <main>
    <Navbar />
    <Header />
    <AboutUs />
    <!-- <Servicios /> -->
    <!-- <Contacto /> -->
    <!-- <Footer /> -->
  </main>
</Layout>
