---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
import Servicios from "../components/Servicios.astro";
import Contacto from "../components/Contacto.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="AKTIVA">
  <main>
    <Navbar />
    <Header />
    <Servicios />
    <Contacto />
    <Footer />
  </main>
</Layout>
