---
import NavLinks from "./NavLinks.astro";
---

<nav class="p-4 fixed bg-white top-0 w-full z-10 shadow-sm">
  <div class="container mx-auto flex justify-between items-center">
    <a
      href="/"
      class="text-2xl font-bold transform hover:scale-105 transition-transform duration-300"
    >
      <img src="Logicap_logo.svg" alt="" />
    </a>
    <div class="hidden sm:flex space-x-4">
      <NavLinks title="About Us" to={"#aboutus"} />
      <NavLinks title="Services" to={"#services"} />
      <NavLinks title="Contact" to={"#contact"} />
    </div>
    <div class="sm:hidden">
      <button id="menu-toggle" class="text-slate-600">
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          class="w-6 h-6"
        >
          <path d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
  </div>
</nav>
<div class="h-16"></div>
<div
  id="mobile-menu"
  class="hidden fixed w-full sm:hidden z-10 transition-all bg-white"
>
  <div class="p-4 flex flex-col">
    <NavLinks title="About Us" to={"#aboutus"} />
    <NavLinks title="Services" to={"#services"} />
    <NavLinks title="Contact" to={"#contact"} />
  </div>
</div>

<script>
  document.getElementById("menu-toggle").addEventListener("click", function () {
    var mobileMenu = document.getElementById("mobile-menu");
    if (mobileMenu.style.display === "block") {
      mobileMenu.style.display = "none";
    } else {
      mobileMenu.style.display = "block";
    }
  });

  const menuToggle = document.getElementById("menu-toggle");
  const mobileMenu = document.getElementById("mobile-menu");
  let isOpen = false;
  let originalIcon = menuToggle.innerHTML; // Guarda el SVG original aquí
  let closeIconSVG = `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
</svg>
`;
  menuToggle.addEventListener("click", function () {
    isOpen = !isOpen;

    if (isOpen) {
      // Mostrar el nuevo icono (closeIconSVG) y el menú
      menuToggle.innerHTML = closeIconSVG;
      mobileMenu.style.display = "block";
    } else {
      // Restaurar el icono de hamburguesa original y ocultar el menú
      menuToggle.innerHTML = originalIcon; // Restaura el SVG original
      mobileMenu.style.display = "none";
    }
  });

  // Obtén todos los elementos del menú móvil
  const mobileMenuItems = document.querySelectorAll("#mobile-menu a");

  // Agrega un manejador de eventos a cada elemento del menú
  mobileMenuItems.forEach((item) => {
    item.addEventListener("click", () => {
      // Cierra el menú móvil al hacer clic en un elemento del menú
      mobileMenu.style.display = "none";
      // Restaura el icono de hamburguesa original
      menuToggle.innerHTML = originalIcon; // Restaura el SVG original
      // Asegúrate de que la variable isOpen refleje el estado actual
      isOpen = false;
    });
  });
</script>
