---
import NavLinks from "./NavLinks.astro";
---

<nav class="bg-blue-accent-dark p-4 fixed top-0 w-full z-10">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="text-white text-2xl font-bold">AKTIVA</a>
    <div class="hidden sm:flex space-x-4">
      <NavLinks title="Inicio" to={"/"} />
      <NavLinks title="Sobre Nosotros" to={"#aboutus"} />
      <NavLinks title="Servicios" to={"#servicios"} />
      <NavLinks title="Contacto" to={"#contacto"} />
    </div>
    <div class="sm:hidden">
      <button id="menu-toggle" class="text-white">
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          class="w-6 h-6"
        >
          <path d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
  </div>
</nav>
<div class="h-16"></div>
<div id="mobile-menu" class="hidden fixed w-full sm:hidden z-10">
  <div class="bg-blue-accent-light p-4 flex flex-col">
    <NavLinks title="Inicio" to={"/"} />
    <NavLinks title="Sobre Nosotros" to={"#aboutus"} />
    <NavLinks title="Servicios" to={"#servicios"} />
    <NavLinks title="Contacto" to={"#contacto"} />
  </div>
</div>

<script>
  document.getElementById("menu-toggle").addEventListener("click", function () {
    var mobileMenu = document.getElementById("mobile-menu");
    if (mobileMenu.style.display === "block") {
      mobileMenu.style.display = "none";
    } else {
      mobileMenu.style.display = "block";
    }
  });
</script>
