---
import NavLinks from "./NavLinks.astro";
---

<nav class="p-4 fixed top-0 w-full z-10 shadow-sm">
  <div class="container mx-auto flex justify-between items-center">
    <a
      href="/"
      class="text-2xl font-bold transform hover:scale-105 transition-transform duration-300"
    >
      <img src="Logicap_logo.svg" alt="" />
    </a>
    <div class="hidden sm:flex space-x-4">
      <NavLinks title="Nosotros" to={"#aboutus"} />
      <NavLinks title="Servicios" to={"#servicios"} />
      <NavLinks title="Blog" to={"#blog"} />
      <NavLinks title="Contacto" to={"#contacto"} />
    </div>
    <div class="sm:hidden">
      <button id="menu-toggle" class="text-slate-600">
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          class="w-6 h-6"
        >
          <path d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
  </div>
</nav>
<div class="h-16"></div>
<div
  id="mobile-menu"
  class="hidden fixed w-full sm:hidden z-10 transition-all bg-white"
>
  <div class="p-4 flex flex-col">
    <NavLinks title="Sobre Nosotros" to={"#aboutus"} />
    <NavLinks title="Servicios" to={"#servicios"} />
    <NavLinks title="Blog" to={"#blog"} />
    <NavLinks title="Contacto" to={"#contacto"} />
  </div>
</div>

<script>
  document.getElementById("menu-toggle").addEventListener("click", function () {
    var mobileMenu = document.getElementById("mobile-menu");
    if (mobileMenu.style.display === "block") {
      mobileMenu.style.display = "none";
    } else {
      mobileMenu.style.display = "block";
    }
  });
  const closeIconSVG = `
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
  </svg>
`;
  const menuToggle = document.getElementById("menu-toggle");
  const mobileMenu = document.getElementById("mobile-menu");
  let isOpen = false;

  menuToggle.addEventListener("click", function () {
    isOpen = !isOpen;

    if (isOpen) {
      // Mostrar el nuevo icono (closeIconSVG) y el menú
      menuToggle.innerHTML = closeIconSVG;
      mobileMenu.style.display = "block";
    } else {
      // Mostrar el icono de hamburguesa original y ocultar el menú
      menuToggle.innerHTML = `
      <svg
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        viewBox="0 0 24 24"
        class="w-6 h-6"
      >
        <path d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    `;
      mobileMenu.style.display = "none";
    }
  });
</script>
