<section class="bg-white py-12" id="aboutus">
  <div class="container mx-auto px-4">
    <div class="text-center">
      <h2 class="text-3xl font-semibold text-gray-800">Sobre Nosotros</h2>
      <p class="mt-4 text-gray-600">
        Trabajamos para crear servicios web, agilizando tareas a nuestros
        clientes y brindándoles la mejor experiencia.
      </p>
    </div>
  </div>
</section>
