<section class="pt-12 md:py-12" id="aboutus">
  <div class="container mx-auto px-4 md:pt-6">
    <div class="text-center md:flex md:items-center md:justify-center">
      <img
        src="/grupo.png"
        alt=""
        class="w-10 h-auto mb-2 md:mb-0 mx-auto md:mx-0 md:mr-2"
      />
      <h2 class="text-2xl md:text-4xl font-semibold text-gray-800">
        Sobre Nosotros
      </h2>
    </div>
    <p
      class="mt-2 md:mt-4 text-gray-800 text-sm md:text-base text-center md:text-left"
    >
      "En AKTIVA, transformamos ideas en soluciones digitales excepcionales.
      Simplificamos la vida de nuestros clientes con servicios web innovadores
      que agilizan tareas y brindan experiencias únicas. Con creatividad,
      experiencia técnica y compromiso, impulsamos tu visión hacia el éxito en
      línea. En AKTIVA, creamos oportunidades y soluciones que marcan la
      diferencia."
    </p>
  </div>
</section>
