<section
  class="relative flex flex-col w-full md:flex-row items-center justify-center shadow-sm"
>
  <div class="w-full text-center flex items-center justify-center shadow-lg">
    <!-- Contenedor para la imagen -->
    <div class="w-full h-full">
      <img
        src="/contact-bg.svg"
        alt="Imagen Descriptiva"
        class="w-full object-cover rounded-tl-full"
      />
      <!-- Contenedor flex con dos elementos -->
      <div
        class="flex flex-col sm:flex-row items-center justify-between text-white absolute top-0 left-0 w-full h-full"
      >
        <!-- Primer elemento -->
        <div class="sm:w-1/2 sm:flex sm:justify-start sm:items-center ml-2">
          <div class="w-full sm:w-auto text-center sm:text-start sm:ml-2">
            <p
              class="text-2xl sm:text-6xl font-medium text-morado break-words"
              style="letter-spacing: 0.1em;"
            >
              ¿Estás listo para pasar de las palabras a la acción?
            </p>
          </div>
        </div>
        <div class="w-full flex rounded-md shadow-md bg-morado h-1/2 mr-5">
          <div class="w-1/6 flex justify-center items-center flex-col my-auto">
            <div class="">
              <h3 class="font-thin text-5xl transform -rotate-90">
                Contáctanos
              </h3>
            </div>
          </div>

          <div
            class="w-full bg-white rounded-md flex justify-center items-center"
          >
            <div class="w-full">
              <form class="mx-2 p-3 mt-2">
                <div class="mb-4">
                  <input
                    placeholder="Nombre Completo"
                    type="text"
                    id="nombre"
                    name="nombre"
                    class="mt-1 p-2 w-full border rounded border-morado"
                  />
                </div>
                <div class="mb-4">
                  <input
                    type="email"
                    placeholder="Email completo"
                    id="email"
                    name="email"
                    class="mt-1 p-2 w-full border rounded border-morado"
                  />
                </div>
                <div class="mb-4">
                  <textarea
                    placeholder="Su consulta"
                    id="mensaje"
                    name="mensaje"
                    rows="4"
                    class="mt-1 p-2 w-full border rounded border-morado"
                  ></textarea>
                </div>
                <div class="w-full justify-end flex">
                  <button
                    type="submit"
                    class="bg-morado text-white py-2 px-4 mr-2 mb-2 rounded-full hover:bg-pera hover:text-morado"
                    >Enviar</button
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
