<section
  id="contacto"
  class="relative flex flex-col w-full md:flex-row items-center justify-center shadow-sm"
>
  <div class="w-full text-center flex items-center justify-center shadow-lg">
    <!-- Contenedor para la imagen -->
    <div class="w-full h-full">
      <img
        src="/contact-bg.svg"
        alt="Imagen Descriptiva"
        class="w-full object-cover rounded-tl-full"
      />
      <!-- Contenedor flex con dos elementos -->
      <div
        class="flex flex-col sm:flex-row items-center justify-between text-morado absolute top-0 left-0 w-full h-full"
      >
        <!-- Primer elemento -->
        <div class="sm:w-1/2 sm:flex sm:justify-start sm:items-center ml-2">
          <div class="w-full sm:w-auto text-center sm:text-start sm:ml-2">
            <p
              class="text-2xl sm:text-6xl font-medium text-purple break-words"
              style="letter-spacing: 0.1em;"
            >
              <span class="hidden sm:inline"
                >Are you ready to turn words into action? Contact us!</span
              >
              <span class="inline sm:hidden">Contact Us</span>
            </p>
          </div>
        </div>
        <!-- Segundo elemento -->
        <div
          class="w-full sm:w-1/2 flex flex-col items-center justify-center sm:mt-0"
        >
          <div class="w-full bg-white rounded-md mt-6 shadow-xl">
            <form class="mx-2 p-3 mt-2 text-morado">
              <div class="mb-4">
                <input
                  placeholder="* Full Name"
                  required
                  type="text"
                  id="nombre"
                  name="nombre"
                  class="mt-1 p-2 w-full border rounded border-morado"
                />
              </div>
              <div class="mb-4">
                <input
                  required
                  type="email"
                  placeholder="* Full Email"
                  id="email"
                  name="email"
                  class="mt-1 p-2 w-full border rounded border-morado"
                />
              </div>
              <div class="mb-4">
                <textarea
                  required
                  placeholder="* Your Inquiry"
                  id="mensaje"
                  name="mensaje"
                  rows="4"
                  class="mt-1 p-2 w-full border rounded border-morado"
                ></textarea>
              </div>
              <div
                class="w-full flex flex-col sm:flex-row sm:items-center sm:justify-between"
              >
                <button
                  type="submit"
                  class="bg-morado text-white py-2 px-4 mr-2 mb-2 rounded-full hover:bg-pera hover:text-morado"
                >
                  Send
                </button>
                <p class="text-xs text-red-600 sm:ml-2 mt-2 sm:mt-0">
                  * required fields
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import Swal from "sweetalert2";
  // Obtener referencias a los campos del formulario
  const nombreCompletoInput = document.getElementById("nombre");
  const emailInput = document.getElementById("email");
  const mensajeInput = document.getElementById("mensaje");

  // Escuchar el evento de envío del formulario
  const form = document.querySelector("form");
  form.addEventListener("submit", function (event) {
    event.preventDefault(); // Evitar el envío normal del formulario

    // Obtener los valores ingresados por el usuario
    const nombreCompleto = nombreCompletoInput.value;
    const email = emailInput.value;
    const mensaje = mensajeInput.value;

    // Crear un objeto con los datos del formulario
    const formData = {
      nombreCompleto,
      email,
      mensaje,
    };

    // URL a la que deseas enviar la solicitud POST
    const url = "https://logicap-form-production.up.railway.app/form/create";

    // Opciones de la solicitud POST
    const options = {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(formData),
    };

    // Realizar la solicitud POST
    fetch(url, options)
      .then((response) => response.json())
      .then((data) => {
        // Manejar la respuesta del servidor aquí
        console.log("Respuesta del servidor:", data);
        Swal.fire("Cool", `${data.message}`, "success").then(() =>
          window.location.reload()
        );

        // Desplazar la página al principio
        window.scrollTo(0, 0);
      })
      .catch((error) => {
        console.error("Error al enviar la solicitud:", error);
      });
  });
</script>
