<header
  id="header"
  class="relative flex flex-col mt-5 md:flex-row items-center justify-center shadow-sm"
>
  <div class="w-full text-center flex items-center justify-center shadow-lg">
    <!-- Container for the image -->
    <div class="w-full h-full">
      <!-- Image for resolutions larger than `sm` -->
      <img
        src="/cool.svg"
        alt="Descriptive Image"
        class="w-full object-cover sm:hidden"
      />

      <!-- Image for `sm` type resolutions -->
      <img
        src="/cool-background.svg"
        alt="Descriptive Image"
        class="w-full h-full object-cover hidden sm:block"
      />
      <!-- Flex container with two elements -->
      <div
        class="flex flex-col sm:flex-row items-center justify-between text-white absolute top-0 left-0 w-full h-full"
      >
        <!-- First element -->
        <div
          class="sm:w-1/2 h-full sm:flex sm:justify-start sm:items-center ml-2"
        >
          <div
            id="container"
            class="w-full my-auto flex-col sm:w-auto text-center sm:text-start sm:ml-2"
          >
            <h1 class="text-6xl sm:text-8xl font-extrabold mt-24">
              Web Design
            </h1>
            <p class="text-2xl sm:text-6xl my-2 font-extrabold text-[#07F6FD]">
              100% Custom
            </p>
            <span
              class="font-thin text-lg sm:text-xl text-center sm:text-start my-5"
            >
              We create professional websites <br /> with optimized content
              without templates.
            </span>
            <div
              class="w-full justify-center sm:justify-start sm:mt-3 flex mt-3 my-3"
            >
              <a
                href="#contacto"
                class="bg-white text-gray-600 hover:text-gray-900 py-2 px-3 sm:px-4 rounded-full text-sm sm:text-lg shadow-sm"
              >
                Request a Quote
              </a>
            </div>
          </div>
        </div>
        <!-- Second element -->
        <div class="md:mt-4 md:w-1/2 md:block hidden">
          <div class="text-4xl md:text-9xl ml-5 text-start">THE</div>
          <div class="text-4xl md:text-9xl ml-5 text-start">FUTURE</div>
          <div class="text-4xl md:text-9xl ml-5 text-start">IS</div>
          <div class="text-4xl md:text-9xl ml-5 text-start">US</div>
        </div>
      </div>
    </div>
  </div>
</header>
