<header
  class="relative flex w-full z-50 flex-col md:flex-row h-screen items-center justify-center shadow-sm"
>
  <div class="w-full text-center flex items-center justify-center shadow-lg">
    <!-- Contenedor para la imagen -->
    <div class="w-full h-full bg-opacity-70">
      <img
        src="/cool-background.svg"
        alt="Imagen Descriptiva"
        class="w-full h-full object-cover"
      />

      <!-- Contenedor flex con dos elementos -->
      <div
        class="flex flex-row items-center justify-between text-white absolute top-0 left-0 w-full h-full"
      >
        <!-- Primer elemento -->
        <div class="flex justify-start items-center w-full ml-2">
          <div class="flex flex-col w-full justify-center items-center">
            <h1 class="text-start w-full text-white text-8xl font-extrabold">
              Diseño web
            </h1>
            <p class="text-start w-full text-[#07F6FD] text-8xl font-extrabold">
              100% a medida
            </p>
            <span class="font-thin text-2xl text-start w-full"
              >Creamos sitios webs con diseños profesionales <br /> y contenidos
              optimizados sin plantillas.</span
            >
            <div class="w-full justify-start flex mt-3">
              <button
                class="bg-white text-gray-600 hover:text-gray-900 py-2 px-4 w-1/6 rounded-full text-lg shadow-sm"
                >Solicitar Cotización</button
              >
            </div>
          </div>
        </div>
        <!-- Segundo elemento -->
        <div class="mt-4">Elemento 2</div>
      </div>
    </div>
  </div>
</header>
