<header
  class="relative flex flex-col mt-5 md:flex-row items-center justify-center shadow-sm"
>
  <div class="w-full text-center flex items-center justify-center shadow-lg">
    <!-- Contenedor para la imagen -->
    <div class="w-full h-full">
      <img
        src="/cool-background.svg"
        alt="Imagen Descriptiva"
        class="w-full h-full object-cover"
      />

      <!-- Contenedor flex con dos elementos -->
      <div
        class="flex flex-col md:flex-row items-center justify-between text-white absolute top-0 left-0 w-full h-full"
      >
        <!-- Primer elemento -->
        <div class="md:w-1/2 md:flex md:justify-start md:items-center ml-2">
          <div class="w-full md:w-auto text-center md:text-start mt-5">
            <h1 class="text-5xl md:text-8xl font-extrabold">Diseño web</h1>
            <p class="text-3xl md:text-6xl font-extrabold text-[#07F6FD]">
              100% a medida
            </p>
            <span
              class="font-thin text-lg md:text-2xl text-center md:text-start"
            >
              Creamos sitios webs con diseños profesionales <br /> y contenidos
              optimizados sin plantillas.
            </span>
            <div class="w-full justify-center md:justify-start flex mt-3">
              <button
                class="bg-white text-gray-600 hover:text-gray-900 py-2 px-4 rounded-full text-lg shadow-sm"
              >
                Solicitar Cotización
              </button>
            </div>
          </div>
        </div>
        <!-- Segundo elemento -->
        <div class="md:mt-4 md:w-1/2 md:block hidden">
          <div class="text-4xl md:text-9xl ml-5 text-start">THE</div>
          <div class="text-4xl md:text-9xl ml-5 text-start">FUTURE</div>
          <div class="text-4xl md:text-9xl ml-5 text-start">IS</div>
          <div class="text-4xl md:text-9xl ml-5 text-start">US</div>
        </div>
      </div>
    </div>
  </div>
</header>
