---
import Email from "./Email.astro";
import Instagram from "./Instagram.astro";
import Linkedln from "./Linkedln.astro";
import Youtube from "./Youtube.astro";
import Info from "./Info.astro";
---

<footer class="bg-white text-gray-800 sm:py-8 mt-60 pt-10 sm:mt-2">
  <div class="container mx-auto flex flex-wrap justify-center">
    <div class="w-full sm:w-1/2 md:w-1/4 lg:w-1/6">
      <!-- Space for the logo -->
      <a href="#header">
        <img src="Logicap_logo.svg" alt="Logo" class="w-32 h-32 mx-auto" />
      </a>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 lg:w-1/5 mb-4 ml-1">
      <!-- Social Media Icons -->
      <h3 class="text-lg font-semibold mb-4">Social Media</h3>
      <div class="flex sm:flex-col">
        <!-- LinkedIn Icon for Brian Márquez -->
        <div class="flex items-center">
          <a
            href="https://www.linkedin.com/in/braian-marquez-8741071b2/"
            target="_blank"
            class="text-purple hover:bg-blue-200 px-4 py-2 rounded-full shadow-lg"
          >
            <Linkedln />
          </a>
          <a
            <a
            target="_blank"
            href="https://mail.google.com/mail/?view=cm&fs=1&to=logicalcapacity@gmail.com"
            class="text-purple hover:bg-red-200 px-4 py-2 rounded-full shadow-lg
            mx-1"
          >
            <Email />
          </a>
          <a
            href="https://www.instagram.com/logicalcapacity/"
            target="_blank"
            class="text-purple hover:bg-pink-200 px-4 py-2 rounded-full shadow-lg mx-2"
          >
            <Instagram />
          </a>
          <a
            href="https://www.youtube.com/@Danived"
            target="_blank"
            class="text-purple hover:bg-red-200 px-4 py-2 rounded-full shadow-lg"
          >
            <Youtube />
          </a>
        </div>
      </div>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 lg:w-1/5 mb-4 ml-1">
      <h3 class="text-lg font-semibold mb-4">About Us</h3>
      <ul class="">
        <li class="mb-2">
          <div class="flex items-center my-1">
            <Info />
            <a href="#aboutus" class="text-morado ml-2"
              >About our organization</a
            >
          </div>
          <div class="flex items-center my-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25"
              ></path>
            </svg>

            <a href="#contacto" class="text-morado ml-2">Write us!</a>
          </div>
          <div class="flex items-center my-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 6.75V15m6-6v8.25m.503 3.498l4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 00-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0z"
              ></path>
            </svg>

            <a class="text-morado ml-2">Posadas Misiones</a>
          </div>
          <div class="flex items-center my-1">
            <svg
              width="30px"
              height="30px"
              viewBox="0 -0.5 25 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M13.5 19.0001C16.6157 18.9994 19.3559 16.9396 20.2224 13.9468C21.0889 10.954 19.873 7.74874 17.2396 6.0836C14.6062 4.41845 11.1892 4.69428 8.85695 6.76026C6.52471 8.82624 5.8387 12.185 7.174 15.0001L5.5 19.0001L9.892 18.0001C10.9809 18.6564 12.2286 19.0022 13.5 19.0001Z"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M11.541 11.0661C10.9717 11.0611 10.5137 10.5965 10.517 10.0271C10.5203 9.45781 10.9836 8.99849 11.5529 9.00013C12.1223 9.00177 12.5829 9.46375 12.583 10.0331C12.5802 10.606 12.1139 11.0683 11.541 11.0661V11.0661Z"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M14.417 13.918C14.4138 14.3397 14.6652 14.7217 15.0538 14.8854C15.4424 15.0491 15.8914 14.9622 16.1909 14.6653C16.4904 14.3684 16.5811 13.9202 16.4208 13.5302C16.2605 13.1402 15.8807 12.8854 15.459 12.885C14.8861 12.8828 14.4198 13.3451 14.417 13.918V13.918Z"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M10.5 10.0331C10.486 13.5001 13.8 15.3301 15.459 14.9511"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"></path>
              </g></svg
            >

            <a
              target="_blank"
              href="https://wa.me/+5493755652410"
              class="text-morado ml-1">Phone</a
            >
          </div>
        </li>
      </ul>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 lg:w-1/5 mb-4 ml-1">
      <!-- Column for additional information -->
      <h3 class="text-lg font-semibold mb-4">Some of Our Services</h3>
      <ol class="list-disc ml-1">
        <li>
          <a href="#services">Custom Application Development</a>
        </li>
        <li>
          <a href="#services">Efficient Database Solutions</a>
        </li>
        <li>
          <a href="#services">Secure Hosting</a>
        </li>
        <li>
          <a href="#services">Visual Effects and Performance</a>
        </li>
      </ol>
    </div>
  </div>
  <div
    class="container mx-auto text-center mt-8 bg-morado py-2 sm:rounded-ee-md sm:rounded-es-md shadow-md"
  >
    <p class="text-sm text-pera">&copy; All rights reserved</p>
  </div>
</footer>
